.custom-select {
  display: grid;
  grid-template-areas: 'select';
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  align-items: center;
  @apply p-2;
  font-size: 1rem;
  cursor: pointer;
  line-height: 24px;
  background-color: var(--vdp-white);
}

.custom-select::after {
  content: '';
  grid-area: select;
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  @apply bg-gray;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
